#product-overview {
  background-image: url("images/freedom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  width: 100vw;
  height: 33vh;
  padding: 0.8rem;
  /* margin-top: 3.50rem; */
  position: relative;
}

#product-overview h1 {
  color: ivory;
  font-family: "Anton", sans-serif;
  font-weight: normal;
  position: absolute;
  bottom: 5%;
  left: 60%;
  font-size: 2rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

/* .icon {
  height: 5%;
  width: 5%;
  position: relative;
}
.icon:first-of-type {
  float: left;
}

.icon:nth-of-type(2) {
  float: right;
} */

/* .plan_list {
  width: 100%;
  text-align: center;
} */
.plan {
  background: lightgreen;
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 100%;
}

.plan-highlighted {
  background-color: darkgreen;
  color: white;
}

.plan_annotation {
  margin: auto;
  width: auto;
  background-color: white;
  color: darkgreen;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan_title {
  color: darkgreen;
}

.plan_price {
  color: grey;
}

.plan-highlighted .plan_title {
  color: whitesmoke;
}

.plan-highlighted .plan_price {
  color: #05af05;
}

.plan_features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan_feature {
  margin: 0.5rem 0;
}

#key-features {
  background: #2f4f4f;
  margin-top: 5rem;
  padding: 1rem;

  /* added for later */
  /* width: 100vmax;
  height: auto;
  position: relative; */
}

#key-features .section-title {
  color: whitesmoke;
  margin: 2rem;
}

.key-feature_list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature_image {
  background-color: #ffcede;
  background-size: contain;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}
#key-feature-1 {
  background-image: url("images/key-feature-1.png");
}
#key-feature-2 {
  background-image: url("images/key-feature-2.png");
}
#key-feature-3 {
  background-image: url("images/key-feature-3.png");
}
.key-feature_description {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/*adding CSS media queries for desktop or bigger screen*/
@media (min-width: 53.5rem) {
  #product-overview {
    background-position: 50% 25%;
    height: 40vh;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
  .plan_list {
    width: 80%;
    margin: auto;
  }
  .plan {
    display: inline-block;
    width: 30%;
    margin: 0.5rem;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
    height: 25rem;
  }
  .plan-highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .key-feature {
    display: inline-block;
    width: 30%;
    max-width: 25rem;
    vertical-align: top;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #daa520, 0 0 20px #daa520, 0 0 30px #ff8c00,
      0 0 40px #ff8c00, 0 0 50px #ff8c00, 0 0 60px #ff8c00, 0 0 70px #ff8c00;
  }
  to {
    text-shadow: 0 0 20px #FFF0F5, 0 0 30px #FFF0F5, 0 0 40px #dfbd00,
      0 0 50px #cd853f, 0 0 60px #cd853f, 0 0 70px #cd853f, 0 0 80px #cd853f;
  }
}