#product-overview {
  background-image: url("images/freedom.jpg");
  background-size: cover;
  background-position: left 10% bottom 75%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip:border-box;
  width: 100vw;
  height: 40vh;
  padding: 0.8rem;
  margin-top: 2.75rem;
  position: relative;
}
.section-title {
  color: #2ddf5c;
  text-align: center;
}

/* .icon {
  height: 5%;
  width: 5%;
  position: relative;
}
.icon:first-of-type {
  float: left;
}

.icon:nth-of-type(2) {
  float: right;
} */

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.plan_list {
  width: 80%;
  margin: auto;
  text-align: center;
}
.plan {
  background: lightgreen;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan-highlighted {
  background-color: darkgreen;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan_annotation {
  background-color: white;
  color: darkgreen;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan_title {
  color: darkgreen;
}

.plan_price {
  color: grey;
}

.plan-highlighted .plan_title {
  color: whitesmoke;
}

.plan-highlighted .plan_price {
  color: #05af05;
}

.plan_features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan_feature {
  margin: 0.5rem 0;
}

#key-features {
  background: 	#2F4F4F;
  margin-top: 5rem;
  padding: 1rem;
  
  /* added for later */
  /* width: 100vmax;
  height: auto;
  position: relative; */
}

#key-features .section-title {
  color: whitesmoke;
  margin: 2rem;
}

.key-feature_list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature_image {
  background-color: #ffcede;
  background-size:contain;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}
#key-feature-1 {
  background-image: url("images/key-feature-1.png");
}
#key-feature-2 {
  background-image: url("images/key-feature-2.png");
}
#key-feature-3 {
  background-image: url("images/key-feature-3.png");
}
.key-feature_description {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
