#product-overview {
  background-image: url("images/freedom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  width: 100vw;
  height: 33vh;
  padding: 0.8rem;
  /* margin-top: 3.50rem; */
  position: relative;
}

#product-overview h1 {
  color: ivory;
  font-family: "Anton", sans-serif;
  font-weight: normal;
  position: absolute;
  bottom: 5%;
  left: 60%;
  font-size: 2rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#plans {
  margin-top: 5rem;
}
.section-title {
  color: #2ddf5c;
  text-align: center;
}
.plan_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan {
  background: lightgreen;
  text-align: center;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 25rem;
  vertical-align: middle;
}

.plan-highlighted {
  background-color: darkgreen;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.plan_annotation {
  margin: auto;
  width: 50%;
  background-color: white;
  color: darkgreen;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan_title {
  color: darkgreen;
}

.plan_price {
  color: grey;
}

.plan-highlighted .plan_title {
  color: whitesmoke;
}

.plan-highlighted .plan_price {
  color: #05af05;
}

.plan_features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan_feature {
  margin: 0.5rem 0;
}

.plan_button {
  background-color: rgb(5, 175, 5);
  color: whitesmoke;
  font: inherit;
  border: 2px solid rgb(5, 175, 5);
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.plan_button:hover,
.plan_button:active {
  background-color: whitesmoke;
  color: rgb(5, 175, 5);
}

.plan_button:focus {
  outline: none;
}

#key-features-section{
  margin-top: 5rem;
}
#key-features {
  background: #2f4f4f;
  margin: 0 auto;
  padding: 1rem;
}

#key-features .section-title {
  color: whitesmoke;
  margin: 2rem;
}

.key-feature_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.key-feature {
  vertical-align: middle;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.key-feature_image {
  background-color: #ffcede;
  background-size: contain;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0;
}
#key-feature-1 {
  background-image: url("images/key-feature-1.png");
}
#key-feature-2 {
  background-image: url("images/key-feature-2.png");
}
#key-feature-3 {
  background-image: url("images/key-feature-3.png");
}
.key-feature_description {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/*adding CSS media queries for desktop or bigger screen*/
@media (min-width: 53.5rem) {
  #product-overview {
    background-position: 50% 25%;
    height: 40vh;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
  .plan_list {
    flex-direction: row;
    justify-content: center;
  }
  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
  }
  .plan_annotation{
    width: 90%;
  }
  .key-feature_list{
    flex-direction: row;
    justify-content: space-around;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #daa520, 0 0 20px #daa520, 0 0 30px #ff8c00,
      0 0 40px #ff8c00, 0 0 50px #ff8c00, 0 0 60px #ff8c00, 0 0 70px #ff8c00;
  }
  to {
    text-shadow: 0 0 20px #fff0f5, 0 0 30px #fff0f5, 0 0 40px #dfbd00,
      0 0 50px #cd853f, 0 0 60px #cd853f, 0 0 70px #cd853f, 0 0 80px #cd853f;
  }
}
