main {
  padding-top: 1rem;
}
.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #2ddf5c;
}

.signup-form {
    padding: 1rem;
    /*added newly*/
    width: 60%;
    margin: auto;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background-color: #d8f3df;
    border-color: #2ddf5c;
}

/* .signup-form input[type="checkbox"] */
.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background-color: floralwhite;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000000;
    border-radius: 2px;
}

.signup-form input[type="checkbox"]:checked {
    background-color: #2ddf5c;
    border: 1px solid #0e4f1f;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
    border-color: red !important;
    /* background: #faacac; */
}

.signup-form button[type="submit"] {
  display: block;
  margin-top: 1rem;

  /*added newly*/
  background-color: #0e4f1f;
  color: floralwhite;
  font-size: 1.5rem;
  font-weight: bolder;
  border: 2px solid #0e4f1f;
  border-radius: 0.5rem;
  outline: none;
}

.signup-form button[type="submit"]:hover,
.signup-form button[type="submit"]:active {
    background-color: #2ddf5c;
    cursor: pointer;
}

/*adding CSS media queries for desktop or bigger screen*/
@media (min-width: 53.5rem) {
    .signup-form {
        width: 25rem;
    }
}